table {
	width: 100%;
	border-collapse: collapse;
}
th, td {
	padding: 8px;
	text-align: left;
}

.status-indicator {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 5px;
}
/* 
- Open
- Working
- Pending Review
- Overdue
- Completed
- Cancelled */

.status-open {
	background-color: orange;
}
.status-completed {
	background-color: green;
}
.status-overdue {
	background-color: red;
}

.status-cancelled {
	background-color: gray;
}

.status-working {
	background-color: blue;
}

.status-pending-review {
	background-color: yellow;
}

tr[data-task-id] {
	cursor: pointer;
}

/* .custom-dropdown-toggle::after {
	content: '...';
	display: inline-block;
	margin-left: 0.5em;
	vertical-align: middle;
	border-top: 0.4em solid;
	border-right: 0.4em solid transparent;
	border-left: 0.4em solid transparent;
} */

.custom-dropdown-toggle::after {
	display: none;
}

.table-no-border td,
.table-no-border th,
.table-no-border {
  border: none !important;
}